<!DOCTYPE html>
<html lang="en" ng-app="collegeScorecardExplorer">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explore College Scorecard Data">
    <meta name="author" content="S. Cline">
    <title>College Scorecard Web Interface</title>
    <!--Styles-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div class="jumbotron container text-center">
      <h1>College Scorecard Explorer</h1>
      <p>Find colleges from selected criteria</p>
    </div>
    <div class="container-fluid" ng-controller="ViewController">
      <form name="criteriaForm" ng-controller="CriteriaFormController" ng-show="visibility.form" ng-submit="submitForm()">
        <div ng-repeat="criteria in criteriaList" class="row toprow">
          <div class="col-md-2 col-md-offset-2">
            <select ng-model="criteria.selectedCategory" ng-change="setRowCategoryInfo(criteria.index, criteria.selectedCategory)" class="form-control">
              <option ng-repeat="category in categories.data" value="{{category.name}}">{{category.name}}</option>
            </select>
          </div>
          <div class="col-md-2">
            <select ng-model="criteria.selectedComparison" class="form-control">
              <option ng-repeat="comparison in criteria.allowableComparisons">{{comparison}}</option>
            </select>
          </div>
          <div class="col-md-4">
            <div ng-switch on="criteria.selectedCategoryType">
              <input class="form-control" placeholder="Enter a whole number greater than 0" type="number" min="0" max="999999999" ng-model="criteria.inputValue" ng-switch-when="INTEGER">
              <input class="form-control" placeholder="Enter a decimal number between 0 and 1" type="number" min="0" max="1" step="0.001" ng-model="criteria.inputValue" ng-switch-when="REAL">
              <input class="form-control" placeholder="Enter a text value" type="text" ng-model="criteria.inputValue" ng-switch-when="TEXT">
            </div>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-default" ng-click="removeRow(criteria.index)">
              X
            </button>
          </div>
        </div>
        <div class="row criteriarowbuttons">
          <div class="col-md-2 col-md-offset-4">
            <button type="button" class="btn btn-default" ng-click="addRow()">
              Add Criteria
            </button>
          </div>
          <div class="col-md-2">
            <input type="submit" class="btn btn-default" value="Search"/>
          </div>
        </div>
      </form>
      <div ng-show="visibility.results" ng-controller="ResultViewController">
        <div class="row">
          <div class="col-md-2 col-md-offset-5">
          <h1>Results</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-1">
            <b>Name - City, State</b>
          </div>
          <div ng-repeat="criteria in criteriaList" class="col-md-1">
            <b>{{criteria.selectedCategory}}</b>
          </div>
        </div>
        <div class="row" ng-repeat="result in results.data">
          <div class="col-md-6 col-md-offset-1">
            {{locationData[result.id].name}} - {{locationData[result.id].city}}, {{locationData[result.id].state}}
          </div>
          <div ng-repeat="criteria in criteriaList" class="col-md-1">
            {{result[criteria.selectedCategory]}}
          </div>
        </div>
        <div class="row">
          <button class="col-md-2 col-md-offset-5 backtosearchbutton" class="btn btn-default" type="button" ng-click="returnToSearch()">
            Back to Search
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
  <!--Scripts-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="/static/cscexplorer.js"></script>
</html>
