<!DOCTYPE html>
<html lang="en" ng-app="collegeScorecardExplorer">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explore College Scorecard Data">
    <meta name="author" content="S. Cline">
    <title>College Scorecard Explorer</title>
    <!--Styles-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="http://sacline.pythonanywhere.com/static/index.html">CSCExplorer</a>
        <ul class="nav navbar-nav navbar-left">
          <li><a href="http://sacline.pythonanywhere.com/static/index.html">Search</a></li>
          <li><a data-toggle="modal" data-target="#helpmodal" href="javascript:void(0)">Help</a></li>
          <li><a data-toggle="modal" data-target="#infomodal" href="javascript:void(0)">About</a></li>
        </ul>
        <div class="navbar-nav navbar-right">
          <a href="https://github.com/sacline/collegescweb">
            <img src="/static/GitHub-Mark-32px.png">
          </a>
        </div>
      </div>
    </nav>
    <!--Modals-->
    <div class="modal helpmodal fade" id="helpmodal" role="dialog">
      <div class="modal-content">
        <div class="modal-title">
          <h2>How to use CSCExplorer</h2>
        </div>
        <div class="modal-body">
          <ol>
            <li>Click the "Add Criteria" button to generate a new blank search criteria.</li>
            <li>Use the leftmost dropdown box to select a category to search by.</li>
            <li>Use the next dropdown box to select a comparison basis.</li>
            <li>Input a value to filter the category with in the rightmost box.</li>
            <li>Repeat steps 1-4 for each additional criteria.</li>
            <li>Click the "Search" button to display a table of all colleges meeting the criteria!</li>
          </ol>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal">
            OK
          </button>
        </div>
      </div>
    </div>
    <div class="modal infomodal fade" id="infomodal" role="dialog">
      <div class="modal-content">
        <div class="modal-title">
          <h2>About CSCExplorer</h2>
        </div>
        <div class="modal-body">
          <ul>
            <li>Developed by <a href="https://www.github.com/sacline">S. Cline</a> and hosted on <a href="https://www.github.com/sacline/collegescweb"> GitHub</a>.</li>
            <li>More information about the College Scorecard may be found at the official website <a href="https://collegescorecard.ed.gov">here</a>.</li>
            <li>Validity of data presented here is not guaranteed. This website may not reflect the most current College Scorecard data.</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal">
            OK
          </button>
        </div>
      </div>
    </div>
    <div class="jumbotron">
      <div class="container text-center">
        <h1>College Scorecard Explorer</h1>
        <p>Find colleges from selected criteria</p>
      </div>
    </div>
    <div class="container-fluid" ng-controller="ViewController">
      <form name="criteriaForm" ng-controller="CriteriaFormController" ng-show="visibility.form" ng-submit="submitForm()">
        <div ng-repeat="criteria in criteriaList" class="row toprow">
          <div class="col-md-2 col-md-offset-2">
            <select ng-model="criteria.selectedCategory" ng-change="setRowCategoryInfo(criteria.index, criteria.selectedCategory)" class="form-control">
              <option value="" selected disabled>Select a category</option>
              <option ng-repeat="category in categories.data" value="{{category.name}}">{{category.name}}</option>
            </select>
          </div>
          <div class="col-md-2">
            <select ng-model="criteria.selectedComparison" class="form-control">
              <option value="" selected disabled>Select a comparison</option>
              <option ng-repeat="comparison in criteria.allowableComparisons">{{comparison}}</option>
            </select>
          </div>
          <div class="col-md-3">
            <div ng-switch on="criteria.selectedCategoryType">
              <input class="form-control" placeholder="Enter a whole number greater than 0" type="number" min="0" max="999999999" ng-model="criteria.inputValue" ng-switch-when="INTEGER">
              <input class="form-control" placeholder="Enter a decimal number greater than 0" type="number" min="0" step="0.001" ng-model="criteria.inputValue" ng-switch-when="REAL">
              <input class="form-control" placeholder="Enter a text value" type="text" ng-model="criteria.inputValue" ng-switch-when="TEXT">
            </div>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-default removerowbutton" ng-click="removeRow(criteria.index)">
              X
            </button>
          </div>
        </div>
        <div class="row criteriarowbuttons">
          <div class="col-md-2 col-md-offset-4">
            <button type="button" class="btn btn-default center-block addcriteriabutton" ng-click="addRow()">
              Add Criteria
            </button>
          </div>
          <div class="col-md-2">
            <input type="submit" class="btn btn-default center-block searchbutton" value="Search"/>
          </div>
        </div>
      </form>
      <div ng-show="visibility.results" ng-controller="ResultViewController">
        <div ng-hide="visibility.validResults">
          <div class="col-md-4 col-md-offset-4">
            <h2>No valid results found.</h2>
          </div>
        </div>
        <div ng-show="visibility.validResults">
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <h1>Results</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Name - City, State</th>
                    <th ng-repeat="criteria in criteriaList">{{criteria.selectedCategory}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="result in results.data">
                    <td>{{locationData[result.id].name}} - {{locationData[result.id].city}}, {{locationData[result.id].state}}</td>
                    <td ng-repeat="criteria in criteriaList">{{result[criteria.selectedCategory]}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <button type="button" class="btn btn-default center-block backtosearchbutton" ng-click="returnToSearch()">
                Back to Search
              </button>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
  <!--Scripts-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="/static/cscexplorer.js"></script>
</html>
