body {
  background-color:#AAAAAA;
}

.jumbotron {
  background-color:#000000 !important;
  color:#FFFFFF;
  padding-top:30px;
}

.toprow {
  margin-top:30px;
}

.criteriarowbuttons {
  margin-top:100px;
}

.backtosearchbutton {
  margin-bottom:30px;
  margin-top:10px;
}
