body {
  background-color:#CCCCCC;
}

.navbar {
  background-color:#CCCCCC;
  border-color:#000000;
  height:40px;
  min-height:40px !important;
}

.navbar-brand {
  height:40px;
  padding-bottom:0px !important;
  padding-top:10px !important;
}

.navbar-nav > li > a {
  height:40px;
  padding-bottom:10px !important;
  padding-top:10px !important;
}

.navbar-right {
  padding-right:12px !important;
  padding-top:2px !important;
}

.jumbotron {
  background-color:#000000 !important;
  color:#FFFFFF;
  padding-top:30px;
}

.toprow {
  margin-top:30px;
}

.criteriarowbuttons {
  margin-top:100px;
}

.backtosearchbutton {
  margin-bottom:30px;
  margin-top:10px;
}
