body {
  background-color: #cccccc;
}

.navbar {
  background-color: #cccccc;
  border-color: #000000;
  height: 40px;
  min-height: 40px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #000000;
  height: 40px;
  padding-bottom: 0px;
  padding-top: 10px;
}

.navbar-default .navbar-nav > li > a {
  color: #000000;
  font-size: 16px;
  height: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.navbar-right {
  padding-right: 12px;
  padding-top: 2px;
}

.modal-title > h2 {
  margin-left: 40px;
}

.modal-footer {
  text-align: center;
}

.jumbotron {
  background-color: #000000;
  color: #ffffff;
  padding-top: 30px;
}

.toprow {
  margin-top: 30px;
}

.removerowbutton, .removerowbutton:focus {
  background-color: #ff6060;
}

.removerowbutton:hover, .removerowbutton:active, .removerowbutton:active:focus {
  background-color: #ff4040;
}

.criteriarowbuttons {
  margin-top: 100px;
}

.addcriteriabutton, .addcriteriabutton:focus {
  background-color: #7aadff;
}

.addcriteriabutton:hover, .addcriteriabutton:active, .addcriteriabutton:active:focus {
  background-color: #66a0ff;
}

.searchbutton, .searchbutton:focus {
  background-color: #90ff90;
}

.searchbutton:hover, .searchbutton:active, .searchbutton:active:focus {
  background-color: #70ff70;
}

.backtosearchbutton {
  background-color: #bc9bff;
  margin-bottom: 30px;
  margin-top: 10px;
}

.backtosearchbutton:hover, .backtosearchbutton:active, .backtosearchbutton:active:focus {
  background-color: #ad84ff;
}
